@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Markie.ViewModels.SetupViewModel>
@{
    Layout = "SetupLoginLayout.cshtml";
    ViewBag.Title = "Create a user";
}

<div class="row">
    <div class="span4 offset4 setup-form">
        <form method="post">
            <legend>Markie <small>Create a user</small></legend>
            <div class="control-group">
                <label class="control-label">Login</label>
                <div class="controls">
                    <input type="text" id="login" name="login" class="span4" value="@Model.Login" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                    <input type="text" id="password" name="password" class="span4" value="@Model.Password" />
                </div>
            </div>
            
            @if (Model.HasError)
            {
                <div id="setup-error" class="alert alert-error">
                    Enter a login and a password. The login should be a valid email address.
                </div>
            }

            <div class="form-actions">
                <input type="submit" value="Create user" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>
